select:disabled {
    color: black;
    opacity: 0.9;
    appearance: none;
}

.new{
    color:#0C21F4 ;
}
.canceled{
    color:#EE0000;
}
.process{
    color: #777777;
}
.complete{
    color:#08AC00;
}