<div class="card-body">
    <div class="col row">
        <div class="form-group col-md-6">
            <label for="exampleInputEmail1">Nombre</label>
            <input type="text" class="form-control" [(ngModel)]="newMarker.nombre" [ngModelOptions]="{standalone: true}"
                id="InputName" placeholder="Nombre">
        </div>
    </div>
    <div class="col row">
        <div class="form-group col-md-6">
            <label for="exampleInputPassword1">Descripción</label>
            <textarea name="" id="" rows="3" class="form-control" [(ngModel)]="newMarker.descripcion"
                placeholder="Descripcion"></textarea>
        </div>
        <div class="form-group col-md-6">
            <label for="exampleInputPassword1">Dirección</label>
            <textarea name="" id="" rows="3" class="form-control" [(ngModel)]="newMarker.direccion"
                placeholder="Dirección"></textarea>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-3">

    </div>
    <div class="col-md-6">
        <google-map width="100%" [center]="center" [zoom]="zoom" (mapClick)="addMarker($event)">
            <map-marker *ngFor="let markerPosition of markerPositions" [position]="markerPosition"
                [options]="markerOptions"></map-marker>
        </google-map>
        <button type="button" class="btn btn-secondary" style="width: 100%;" (click)="save()">Guardar</button>
    </div>
    <div class="col-md-3">

    </div>
</div>